// ==============================
//
//　ブレークポイント
//
// ==============================

@mixin pc($break-point:$pc_min) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin sp($break-point:$sp_max) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin pc-sp($break-point-min:$pc_min, $break-point-max:$pc_width) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin sp-pc($break-point-max:$tab_max,$break-point-min:$pc_min) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}
@mixin pc_min($min-width: 769px, $max-width: 1280px) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

// ==============================
//
//　text-crop
//  参考：https://coliss.com/articles/build-websites/operation/css/remove-top-and-bottom-margin-from-text.html
// ==============================

@mixin text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
  $top-crop: 9;
  $bottom-crop: 8;
  $crop-font-size: 36;
  $crop-line-height: 1.2;

  $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
  $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

  line-height: $line-height;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }

  &::before {
    margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
  }

  &::after {
    margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
  }
}

// ==============================
//
//　テキスト非表示
//
// ==============================

@mixin text-hide {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// ==============================
//
//　width height　レスポンシブ用
//
// ==============================

@mixin spwh($w,$h){
  @include sp{
    width: spvw($w);
    height: spvw($h);
  }
}

@mixin pcwh($w,$h){
  @include pc{
    width: #{$w}px;
    height: #{$h}px;
  }
}

// ==============================
//
//　レスポンシブ用
//
// ==============================

@mixin responsive($property,$pcsize,$spsize){
  @include pc{
    #{$property}: $pcsize + px;
  }
  @include sp{
    #{$property}: spvw($spsize);
  }
}

// ==============================
//
// font-size　レスポンシブ
//
// ==============================

@mixin font-size($pcsize,$spsize){
  @include pc{
    font-size: ( $pcsize / 10 ) + rem;
  }
  @include sp{
    font-size: spvw($spsize);
  }
}

// ==============================
//
// clearfix
//
// ==============================

@mixin clearfix(){
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

// ==============================
//
// %で割り出す
// 参考：https://www.evoworx.co.jp/blog/calc-percent/
// （内はpx数）
// ==============================

$parent_width:1120;
// margin
@mixin margin($t, $r, $b, $l) {
  margin:($t / $parent_width) * 100% ($r / $parent_width) * 100% ($b / $parent_width) * 100% ($l / $parent_width) * 100%;
}
// width
@mixin width($w) {
  width:($w / $parent_width) * 100%;
}

// ==============================
//
// 750px幅のスマートフォン用デザインのpxをvw値に変換
//
// ==============================

@function spvw($value) {
  @return ($value / 7.5) + vw;
}

@function pcvw($value) {
  @return ($value / 12.8) + vw;
}
 