// ==========================================================================
//
// Font
//
// ==========================================================================

$default-font: "Noto Sans JP","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",'Noto Sans JP', "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$roboto-font: 'Roboto', sans-serif;

// ==========================================================================
//
// Color
//
// ==========================================================================
$link_color: #e57e81; 


// ==========================================================================
//
// 幅
//
// ==========================================================================
//breakpoints
$pc_width: 1280px;
$tab_max: 1119px;
$pc_min: 769px;
$sp_max: 768px;